@using CourseFeedback.Areas.Identity.Data
@using CourseFeedback.Data
@using Microsoft.AspNetCore.Identity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Courses
@inject UserManager<ApplicationUser> userManager
@inject ApplicationDbContext dbContext


<div class="d-flex flex-column align-items-center text-center">

    <partial name="~/Views/Shared/_FindCourse.cshtml" />

    @if (Model is null)
    {
        <h2 class="m-3">Could not find your course code. Please retry</h2>
    }
    else
    {
        <div class="card">
            <div class="card-body pb-0">
                <h5 class="card-title">@Model.CourseName @Model.CourseCode</h5>
                <div class="row my-3">

                    <div class="col-md-6 d-flex align-items-center">
                        @if (Model.Prerequisites.Any())
                        {
                            <p class="text-muted m-0 mx-1">Prerequisites: </p>
                            foreach (string prereq in Model.Prerequisites)
                            {
                                <p class="my-0 mx-1">@prereq</p>
                            }
                        }
                    </div>

                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                        <p class="my-0 mx-1">Credits: @Model.CreditNumber</p>
                        <p class="my-0 mx-1">Type: @Model.Openness</p>
                        @if (Model.ELearning)
                        {
                            <p class="my-0 mx-1">ELearning: @Model.ELearning</p>
                        }
                    </div>

                    <div class="col-md-12 d-flex align-items-center mt-1">
                        @if (Model.Corequisites.Any())
                        {
                            <p class="text-muted m-0 mx-1">Corequisites:</p>
                            foreach (string coreq in Model.Corequisites)
                            {
                                <p class="my-0 mx-1">@coreq</p>
                            }
                        }
                    </div>

                    <p class="card-text">@Model.Description</p>
                    @if (Model.GuidanceMessage != string.Empty)
                    {
                        <h6 class="card-subtitle mt-4 fs-5">Guidance Message: </h6>

                        <br />
                        <p class="card-text">@Model.GuidanceMessage</p>
                    }

                    <div class="d-flex justify-content-end">
                        <a asp-controller="Courses" asp-action="Add" asp-route-id="@Model.CourseCode"
                           class="btn btn-primary">
                            Add a comment
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex flex-column align-items-center col-md-12">
            <h4 class="m-3">Comments</h4>
            @if (!Model.Comments.Any())
            {
                <p>Create the first comment!</p>
            }
            else
            {
                ViewBag.RerouteToController = "Courses";
                ViewBag.ControllerUser = "Courses";
                ViewBag.IsCommentOrReply = "Comment";

                var sortedComments = Model.Comments.OrderByDescending(c => c.NumberOfReplies);

                @foreach (var comment in sortedComments) // was Model.Comments
                {
                    var user = await userManager.FindByIdAsync(comment.UserId);

                    ViewBag.User = user;
                    ViewBag.Model = comment;

                    <partial name="~/Views/Shared/_DisplayReplies.cshtml" />
                }
            }
        </div>
 }