@using CourseFeedback.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Comments
@inject UserManager<ApplicationUser> userManager

@{
    var user = await userManager.FindByIdAsync(Model.UserId);
}

<div class="d-flex flex-column">
    <div class="col-md-12 m-2 border border-dark text-start">
        <div class="d-flex">
            <p class="card-body m-0" style="max-width: fit-content">
                Comment by:
                <a class="m-0 p-0" asp-controller="Users"
                   asp-action="Index" asp-route-id="@user.Id">
                    @user.FirstName @user.MiddleName
                    @user.LastName @Model.TimeCreated
                </a>
            </p>
            @if (Model.Edited)
            {
                <p class="card-body m-0 px-0">
                    (Edited) @Model.TimeEdited
                </p>
            }
        </div>

        <p class="card-body m-0">@Model.Text</p>

        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <a class="btn btn-toolbar m-2" asp-controller="Comments"
                   asp-action="Reply" asp-route-id="@Model.Id">
                    Reply
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <a asp-controller="Courses" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-primary my-2">
                    Edit
                </a>
                <a asp-controller="Courses" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger m-2">
                    Delete
                </a>
            </div>
        </div>

    </div>

    @foreach(var reply in Model.Replies)
    {
        var replyUser = await userManager.FindByIdAsync(reply.UserId);

        <div class="col-md-12 m-2 border border-dark text-start">
            <div class="d-flex">
                <p class="card-body m-0" style="max-width: fit-content">
                    Comment by:
                    <a class="m-0 p-0" asp-controller="Users"
                       asp-action="Index" asp-route-id="@reply.Id">
                        @replyUser.FirstName @replyUser.MiddleName
                        @replyUser.LastName @reply.TimeCreated
                    </a>
                </p>
                @if (reply.Edited)
                {
                    <p class="card-body m-0 px-0">
                        (Edited) @reply.TimeEdited
                    </p>
                }
            </div>

            <p class="card-body m-0">@reply.Text</p>

        </div>
    }
</div>
